requests
pytz
oracledb
python-dateutil
pandas
pymongo
google-cloud
google-cloud-bigquery
google-api-python-client
google-cloud-bigquery-storage
google-auth
cryptography
openpyxl
opencv-python
psycopg2
python-telegram-bot
qrcode
regex
sendgrid
selenium
beautifulsoup4
pyOpenSSL
pyodbc
db-dtypes
sshtunnel
undetected-chromedriver
beautifulsoup4
pillow
python-dotenv
hdbcli
apache-airflow-providers-ssh>=3.7.0
apache-airflow-providers-apache-spark>=5.0.0